services:
  - name: redis-broker
    type: redis 
    plan: free 
    maxmemoryPolicy: allkeys-lru 

  - name: backend
    type: web 
    plan: free 
    
    buildCommand: "./build.sh"
    startCommand: "daphne core.asgi:application --port $PORT --bind 0.0.0.0"
    
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: core.settings
      - key: DJANGO_DEBUG
        value: "False"
      - key: REDIS_URL
        fromService:
          type: redis
          name: redis-broker
          property: connectionString
      - fromGroup: college-transport-secrets

  - name: frontend
    type: static_site
    plan: free 
    
    rootDir: student-app
    buildCommand: "npm install && npm run build"
    publishDir: build
    
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"


