# This file tells Render how to deploy your project.

services:
  # 1. The Redis Server
  - name: redis-broker
    type: redis 
    plan: free 
    maxmemoryPolicy: allkeys-lru 

  # 2. The Django Backend
  - name: backend
    type: web 
    plan: free 
    
    buildCommand: "./build.sh"
    startCommand: "daphne core.asgi:application --port $PORT --bind 0.0.0.0"
    
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: core.settings
      - key: DJANGO_DEBUG
        value: "False"
      - key: REDIS_URL
        fromService:
          type: redis
          name: redis-broker
          property: connectionString
      - fromGroup: college-transport-secrets

  # 3. The React Frontend
  - name: frontend
    type: static site # <-- THE FIX: 'static site' (two words)
    plan: free 
    
    rootDir: student-app
    buildCommand: "npm install && npm run build"
    publishDir: build
    
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"